<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>

 
            
<body>
    

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/gj0706/disaster_response_pipeline"><i class="fa fa-github fa-lg"></i>Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                    <div class="col-lg-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    {% endblock %}

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}
</div>
<!-- <div class="container">
    <div id="chart">
        <svg width="704" height="405"></svg>  
    </div>
</div> -->

<!-- Footer -->
<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-6 align-items-center">
                <a class="btn btn-social-icon btn-linkedin" href=#><i class="fa fa-linkedin fa-lg"></i></a>
                <a class="btn btn-social-icon btn-github" href=#><i class="fa fa-github fa-lg"></i></a>
            </div>
        </div>
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> .com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
 
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
    
    // const chartData = {{data.chartData | safe}};
    // let nodes = chartData.map(d=>d.genre)


    // const margin = {top: 30, right: 50, bottom: 30, left: 50};
    // const svgWidth = 600;
    // const svgHeight = 270;
    // const graphWidth = svgWidth - margin.left - margin.right;
    // const graphHeight = svgHeight - margin.top - margin.bottom;

    // let simulation = d3.forceSimulation(nodes)
    //             .force('charge', d3.forceManyBody())
    //             .force('center', d3.forceCenter(graphWidth / 2, grapyHeight / 2))
    //              .on('tick', ticked);

    // var width = 400, height = 400

    // var numNodes = 100
    // var nodes = d3.range(numNodes).map(function(d) {
    // return {radius: Math.random() * 25}
    // })

    // var simulation = d3.forceSimulation(nodes)
    // .force('charge', d3.forceManyBody().strength(5))
    // .force('center', d3.forceCenter(width / 2, height / 2))
    // .force('collision', d3.forceCollide().radius(function(d) {
    //     return d.radius
    // }))
    // .on('tick', ticked);

    // function ticked() {
    // var u = d3.select('#chart')
    //     .selectAll('circle')
    //     .data(nodes)

    // u.enter()
    //     .append('circle')
    //     .attr('r', function(d) {
    //     return d.radius
    //     })
    //     .merge(u)
    //     .attr('cx', function(d) {
    //     return d.x
    //     })
    //     .attr('cy', function(d) {
    //     return d.y
    //     })

    // u.exit().remove()
    // } 
</script>
<!-- {{data_set.to_html(index=False,classes="table table-striped")|safe}} -->
<!-- <script src="../static/chart.js"></script> -->


</body>
</html>
